.bubble {
  position: fixed;
  right: 7px;
  top: 40px;
  width: 280px;
  background: #fff;
  padding: 20px 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  transform: scale(0);
  transform-origin: 262px -16px;
  transition: transform .333s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.bubbleShow {
  transform: scale(1);
}
.bubble:before {
  content: '';
  position: absolute;
  top: -16px;
  right: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}