.control {
  display: block;
  position: relative;
  padding-left: 21px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
}
.clearfix:after{
  content:"";
  display:block;
  clear:both;
}
.control input[type='radio'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.controlIndicator {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  height: 15px;
  width: 15px;
  border:1px solid #ddd;
  background: #fafafa;
}
.controlRadio .controlIndicator {
  border-radius: 50%;
}
.control:hover input[type='radio'] ~ .controlIndicator,
.control input[type='radio']:focus ~ .controlIndicator {
  border-color:#329fd9;
}
.control:active input[type='radio'] ~ .controlIndicator,
.control input[type='radio']:active ~ .controlIndicator {
  border-color:#329fd9;
  color: #fafafa;
  box-shadow: inset 0 1px 1px rgba(82, 82, 82, 0.3);
}
.control input[type='radio']:checked ~ .controlIndicator {
  background: #fff;
}
.control:hover input[type='radio']:not([disabled]):checked ~ .controlIndicator,
.control input[type='radio']:checked:focus ~ .controlIndicator {
  border-color: #ddd;
}
.control input[type='radio']:disabled ~ .controlIndicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.controlIndicator:after {
  content: '';
  position: absolute;
  display: none;
}
.controlRadio .controlIndicator:after {
    left: 2px;
    top: 2px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #329fd9;
}
.control input[type='radio']:checked ~ .controlIndicator:after {
  display: block;
}
.controlRadio.horizontal{
  float: left;
  margin-right: 20px;
}
.small {
  font-size: 12px !important;
}
